In [0]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [0]:
import pandas as pd 
df=pd.read_csv('gdrive/My Drive/Python Exercises/TravelPonyFacebook.csv')
df.head()

Question 1

Created the analytics 'cost per impression' by dividing Amount Spent / Impressions. Did this for each ad in our data, and saved that as a column.

In [0]:
df['Cost per Impression']= df['Amount Spent (USD)']/df['Impressions']
df.head()

   Start Date    End Date  ... Cost per Page Engagement (USD) Cost per Impression
0  2013-12-02  2013-12-02  ...                       1.219512            0.000466
1  2013-12-01  2013-12-01  ...                       1.395349            0.000652
2  2013-11-30  2013-11-30  ...                       1.190476            0.000448
3  2013-11-29  2013-11-29  ...                       1.167315            0.000452
4  2013-11-22  2013-11-22  ...                       2.512857            0.002464

[5 rows x 21 columns]

Took the "Start Date" column and extracted the day of week.

In [0]:
df['timeStamp'] = pd.to_datetime(df['Start Date'])
df['Day of Week'] = df['timeStamp'].apply(lambda time: time.dayofweek)
df['Weekday']= df['timeStamp'].dt.weekday_name
df.head()

   Start Date    End Date      Account  ...  timeStamp  Day of Week   Weekday
0  2013-12-02  2013-12-02  Bob Jackson  ... 2013-12-02            0    Monday
1  2013-12-01  2013-12-01  Bob Jackson  ... 2013-12-01            6    Sunday
2  2013-11-30  2013-11-30  Bob Jackson  ... 2013-11-30            5  Saturday
3  2013-11-29  2013-11-29  Bob Jackson  ... 2013-11-29            4    Friday
4  2013-11-22  2013-11-22  Bob Jackson  ... 2013-11-22            4    Friday

[5 rows x 24 columns]

Displaying the 'Cost per Impression' for each day

In [0]:
df.groupby('Weekday')['Cost per Impression'].sum()

Weekday
Friday       2.056639
Monday       1.713976
Saturday     1.311720
Sunday       1.755447
Thursday     1.950631
Tuesday      1.440979
Wednesday    1.761665
Name: Cost per Impression, dtype: float64

Question 2

Computed the correlation between Amount Spent and the following variables - Reach,Frequency,Unique Clicks,Page Likes

In [0]:
df['Amount Spent (USD)'].corr(df['Reach'])

0.7031238065113837

In [0]:
df['Amount Spent (USD)'].corr(df['Frequency'])

0.13020086992866314

In [0]:
df['Amount Spent (USD)'].corr(df['Unique Clicks'])

0.8829931774784122

In [0]:
df['Amount Spent (USD)'].corr(df['Page Likes'])

0.7576119292180449

Question 3

Performed a simple multiple regression analysis where Unique Clicks is the dependent variable and Reach and Frequency are the independent(predictor) variables.

In [0]:
import statsmodels.api as sm

In [0]:
X = df[['Reach', 'Frequency']]
y = df['Unique Clicks']
model = sm.OLS(y, X).fit()
predictions = model.predict(X)
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:          Unique Clicks   R-squared (uncentered):                   0.557
Model:                            OLS   Adj. R-squared (uncentered):              0.556
Method:                 Least Squares   F-statistic:                              2325.
Date:                Wed, 13 Nov 2019   Prob (F-statistic):                        0.00
Time:                        21:30:46   Log-Likelihood:                         -15973.
No. Observations:                3705   AIC:                                  3.195e+04
Df Residuals:                    3703   BIC:                                  3.196e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Reach          0.0019   3.12e-05     62.490      0.000       0.002       0.002
Frequency      3.6139      0.298     12.109      0.000       3.029       4.199
==============================================================================
Omnibus:                     5107.616   Durbin-Watson:                   0.803
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          5128392.747
Skew:                           7.331   Prob(JB):                         0.00
Kurtosis:                     184.674   Cond. No.                     9.84e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.84e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""